**
!Cargo.toml
!Cargo.lock
!package.json
!package-lock.json
!server/
!server/**
!web/
!web/**
!ui-config.yaml
!LICENSE
!deploy/
!deploy/compose.yaml
!deploy/nginx.conf
!deploy/nginx-http.conf
!deploy/server-deploy.sh
**/node_modules
**/target
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.p12
